/* Sort By Menu
--------------------------------------- */
#menu_container {
	margin:8px 0 3px 0;
	width:90px;
	height:18px;
	float:left
}
#pmenu, #pmenu ul {
	padding:0;
	margin:0;
	list-style-type: none;
}
#pmenu a, #pmenu a:visited {
	display:block;
	width:90px;
	height:18px;
	font-size:11px;
	color:#e5e5d2;
	line-height:18px;
	text-decoration:none;
	text-indent:5px;
	border:1px solid #e5e5d2;
	border-width:1px;
	margin-top: -1px;
}
 #pmenu li.drop ul li a:hover {
 	color: #FFCC00;
 }

/* Set up the sub level borders */
#pmenu li ul li a, #pmenu li ul li a:visited {
	border-width:0 1px 1px 1px;
}
#pmenu li a.enclose, #pmenu li a.enclose:visited {
	border-width:1px;
}
/* Set up the list items */
#pmenu li {
	float:left;
	background:#2b6a72;
}
/* For Non-IE browsers and IE7 */
#pmenu li:hover {
	position:relative;
}
/* Make the hovered list color persist */
#pmenu li:hover > a {
	background:#2b6a72;
	color:#e5e5d2;
}
/* Set up the sublevel lists with a position absolute for flyouts and overrun padding. The transparent gif is for IE to work */
#pmenu li ul {
	display:none;
}
/* For Non-IE and IE7 make the sublevels visible on list hover. This is all it needs */
#pmenu li:hover > ul {
	display:block;
	position:absolute;
	top:-11px;
	left:80px;
	padding:0 30px 30px 30px;
}
/* Position the first sub level beneath the top level liinks */
#pmenu > li:hover > ul {
	left:-30px;
	top:19px;
}
/* For IE5.5 and IE6 give the hovered links a position relative and a change of background and foreground color. This is needed to trigger IE to show the sub levels */
* html #pmenu li a:hover {
	position:relative;
	background:#2b6a72;
	color:#e5e5d2;
}
/* Set up the pointers for the sub level indication */
#pmenu li.drop {
	background:#2b6a72 url(/public/images/drop_arrow.gif) no-repeat right center;
}
/* For IE5.5 and IE6 ONLY and is necessary to make the sublevels appear */

/* change the drop down levels from display:none; to visibility:hidden; */
* html #pmenu li ul {
	visibility:hidden;
	display:block;
	position:absolute;
	top:-11px;
	left:80px;
	padding:10px 30px 30px 30px;
	background:transparent url(/public/images/transparent.gif);
}
/* keep the third level+ hidden when you hover on first level link */
#pmenu li a:hover ul ul {
	visibility:hidden;
}
/* make the second level visible when hover on first level link and position it */
#pmenu li a:hover ul {
	visibility:visible;
	left:-30px;
	top:14px;
	lef\t:-31px;
	to\p:15px;
}
